@charset "UTF-8";
.body-color {
  background-color: #f2f2f2;
  color: #333;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color:#fff;
  width: 100%;
  padding: 15px 0;
  z-index: 2;
}

.header-inner {
  display: flex;
  justify-content: space-between;
}

.header_button {
  font-size: 12px;
  padding: 14px 12px;
  background-color: #74cfae;
  color: #fff;
  transition: all 0.3s;
  text-decoration: none;
}

.header_button:hover {
  transition: all 0.3s;
  color: #333;
}

.title {
  width: 100%;
  margin-top: 68px;
  padding-top: 250px;
  padding-bottom: 250px;
}

.inner {
  margin: 0 auto;
  max-width: 1100px;
}

.bolt-theme {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
  text-align: center;
}

.free-bootstrap {
  font-size: 30px;
  color: #c0c0c0;
  text-align: center;
  margin-top: 20px;
}


.section {
  background-color: #74cfae;
  width: 100%;
  padding-top: 50px;
}

.section__inner {
  display: flex;
  justify-content: space-between;
}

.what-we {
  font-size: 24px;
  color: #fff;
  margin: 0 auto;
  width: 500px;
  font-family: "Raleway";
  text-align: center;
}

.section__content__text {
  margin-top: 35px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  width: 750px;
}

.article {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 70px;
}

.our-latest {
  font-size: 24px;
  margin-bottom: 40px;
  text-align: center;
  font-family: "Raleway";
}

.article-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.article__img {
  margin: 0 100px 80px 0;
  transition: all 0.3s;
  opacity: 0.7;
  z-index: 1;
}

.article__img:hover {
  transition: all 0.3s;
  opacity: 1;
}

.article__img:nth-child(3n) {
  margin-right: 0;
}

.article-box {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.article-box__text {
  margin: 10px 90px 0 0;
  width: 580px;
  text-align: center;
  font-size: 20px;
}

.email-button {
  color: #fff;
  font-size: 12px;
  padding: 14px 20px;
  background-color: #74cfae;
  box-sizing: border-box;
  transition: all 0.3s;
  text-decoration: none;
}

.email-button:hover {
  transition: all 0.3s;
  color: #333;
}

.section_box {
  background-color: #4e4e4e;
  width: 100%;
  padding-top: 70px;
  padding-bottom: 100px;
}

.our-skills {
  color: #f2f2f2;
  text-align: center;
}

.section__img {
  text-align: center;
  margin-left: 180px;
}

.section__img:first-child {
  margin-left: 45px;
}

.img__word {
  margin-top: 10px;
  font-size: 16px;
  font-family: "Lato";
}

.section__img__box {
  display: flex;
  color: #fff;
  justify-content: center;
  margin-top: 50px;
}

.nav {
  padding: 200px 0;
  width: 100%;
}

.nav_inner {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.nav_box {
  text-decoration: none;
}

.nav-icon {
  color: #74cfae;
  width: 185px;
  padding: 30px 0;
  box-sizing: border-box;
}

.nav-icon:hover {
  transition: all 0.3s;
  background-color: #fff;
}

.footer {
  padding-top: 20px;
  padding-bottom: 25px;
  background-color: #74cfae;
  width: 100%;
  margin: 0 auto;
}

.footer_text {
  color: #fff;
  display: flex;
  justify-content: flex-end;
}
